*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/* ################## Nave Bar Settings ############ */
section.container{
    background: #000;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 75% 90%, 0 100%);
}
section div nav.menu ul{
    display: flex;
    justify-content: center;
    padding-top: 3%;
    align-items: center;
    list-style: none;
}
section div nav.menu ul li.ddm{
    display: none;
}
section div nav.menu ul li a{
    text-transform: uppercase;
    font-weight: 200;
    font-size: 1.2rem;
    color: #fff;
    justify-content: center;
    text-decoration: none;
    margin-left: 2rem;
    transition: .3s ease-in-out;
}
section div nav.menu ul li a:hover{
    color: cyan;
}

section div nav.menu ul li a img{
    height: 30px;
    width: 80px;
}
/* ################ End Nav Bar Setting ############ */
/* ################ Heero Section ################## */
section.hero{
    display: flex;
    align-items: center;
}
section.hero div.imag img{
    height: 450px;
    width: 450px;
  
}

section div.metter h1{
    font-size: 3rem;
    color: crimson;
    text-transform: uppercase;
}
section div.metter h1 span{
    color: cyan;
}
section div.metter p{
    color: #fff;
    margin-top: 2rem;
    text-align: justify;
    padding-right: 20%;
}
section div.metter button{
    background: transparent;
    text-transform: uppercase;
    padding: 1rem 3rem;
    color: cyan;
    font-size: 1.2rem;
    margin-top: 2rem;
    border: cyan solid;
    border-radius: .7rem;
    transition: .5s ease-in-out;
}
section div.metter button:hover{
    background: cyan;
    color: crimson;
    border: crimson solid;
}



/* ################ End Of Hero Section ############ */
/* ############### start Skill Section ############# */
section.skills h1{
    font-size: 3rem;
    color: cyan;
    text-align: center;
    text-transform: uppercase;
    margin-top: 3rem;
}
section.skills h1 span{
    color: crimson;
}
section.skills p.skill-info{
    border: cyan solid;
    box-shadow: inset 0 0 .3em cyan,
    0 0 .3em cyan;
    text-align: justify;
    font-size: 1.2rem;
    color: #95A5A6;
    font-weight: 700;
    max-width: 650px;
    border-radius: .5rem;
    margin-bottom: 2rem;
    padding: 1rem;
}
section.skills div.skil-top{
    display: flex;
    flex-direction: column;
  row-gap: .5rem;
   align-items: center;  
}

/* ############ Skill Topins ###################*/
div.skil-imag img {
    height: 100%;
    width: 260px;
    border-radius: 10px;
    
}
div.skil-imag{
    position: relative;
}
div.skil-imag::after {
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: .4;
    border-radius: 10px;
}
div.skill-topic{
    display: grid;
    grid-template-columns: 260px 600px;
    row-gap: 3px;
    justify-content: center;
    justify-items: center;
    height: auto;
    margin-bottom: 5rem;
    align-content: center;
}
div.skil-text h1{
    font-size: 1.5rem;
    letter-spacing: .12rem;
    margin-top: 0;
    padding-top: 5%;
    padding-bottom: 2%;    
}
div.skil-text{
    background: #283d3f;
    border-radius: 10px;
    width: 600px;
}
div.skil-text p.skil-explanation{
    font-size: 1.2rem;
    color: #fff;
    text-align: justify;
    padding-left: 10%;
    padding-right: 10%;
    text-transform: capitalize;
}
/* ############ End Skill Topins ###################*/
/* ############### End Skill Section ############# */
/* ############ Work history ##################### */
section.work-history{
    background-color: #95A5A6;
}
/* ############# work history top ############### */
div h1.work-history-name{
    color: cyan;
    font-size: 3rem;
    padding-top: 3%;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    padding-bottom: 3%;
}
div h1.work-history-name span{
    color: crimson;
}
div p.work-history-info{
    border: cyan solid;
    max-width: 600px;
    color: #fff;
    font-size: 1.6rem;
    border-radius: 10px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
    box-shadow: inset 0 0 .3em cyan,
    0 0 .3em cyan;
}
section.work-history div.work-history-top{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding-bottom: 20px;
    text-align: justify;
}
/* ############### End of Work History Top ######### */
/* ############## Work History Metter ############## */
div.work-history-metter{
    display: grid;
    grid-template-columns: 200px 600px;
    grid-template-rows: 200px;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    padding-bottom: 3%;
    column-gap: 5px;
}
div.work-history-metter div.organisation h1{
    text-align: center;
    color: crimson;
    border-radius: 10px;
    height: 150px;
    background: rgba(0, 0, 0, .7);
    text-transform: uppercase;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    padding-top: 15%;
    text-shadow: 0 0 .5rem crimson;
}
div.work-history-metter div.explanation p{
    color: #fff;
    font-size: 1.2rem;
    background: rgba(0, 0, 0, .7);
    border-radius: 10px;
    height: 150px;
    text-transform: capitalize;
    text-align: justify;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
}

/* ############## End Work History Metter ########## */
/* ############ End Work history ################## */

/* ################ education ##################### */
div h1.education-name{
    color: cyan;
    font-size: 3rem;
    padding-top: 3%;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    padding-bottom: 3%;
}
div h1.education-name span{
    color: crimson;
}
div p.education-info{
    border: cyan solid;
    max-width: 600px;
    color: #95A5A6;
    font-size: 1.6rem;
    border-radius: 10px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
    box-shadow: inset 0 0 .3em cyan,
    0 0 .3em cyan;
}
section.education div.education-top{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding-bottom: 20px;
    text-align: justify;
}
/* ############### Education Matter ############### */
div.education-metter{
    display: grid;
    grid-template-columns: 200px 600px;
    justify-content: center;
    align-content: center;
    align-items: center;
    column-gap: 3px;
    row-gap: 5px;
    padding-bottom: 25px;
}
div.education-metter div.class-name{
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    background: rgb(255, 25, 8);
    border-radius: 10px;
    text-align: center;
    height: 150px;
    padding-top: 10%;
    padding-left: 2%;
    font-size: 1.2rem;
}
div.education-metter div.class-detail{
    background: rgb(44, 5, 5);
    color: #fff;
    height: 150px;
    border-radius: 10px;
    text-transform: capitalize;
    padding-top: 4%;
    padding-left: 2%;
    font-weight: 500;
    font-size: 1.2rem;
}
/* ############### End Education Matter ############ */
/* ################ End education ################# */
/* ############### Achivement ##################### */
/* ############### Achivement Top ################# */
div h1.achivement-name{
    color: cyan;
    font-size: 3rem;
    padding-top: 3%;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    padding-bottom: 3%;
}
div h1.achivement-name span{
    color: crimson;
}
div p.achivement-info{
    border: cyan solid;
    max-width: 600px;
    color: #95A5A6;
    font-size: 1.6rem;
    border-radius: 10px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
    box-shadow: inset 0 0 .3em cyan,
    0 0 .3em cyan;
}
section.achivement div.achivement-top{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding-bottom: 20px;
    text-align: justify; 
}
section.achivement{
    background: rgb(2, 37, 21);
}
/* ############### Achivement Metter ############### */
div.achivement-metter{
    display: grid;
    grid-template-columns: 260px 600px;
    grid-template-rows: auto;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    column-gap: 5px;
    row-gap: 5px;
    padding-bottom: 50px;
}
div.achivement-name h1{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    border: #fff solid;
    height: 300px;
    border-radius: 15px;
    padding-top: 10%;
    font-size: 2rem;
    padding-left: 3%;
    padding-right: 3%;
}
div.achivement-detail ul{
    list-style: '\21D2';
    line-height: 20px;
    color: #fff;
    border: #fff solid;
    border-radius: 15px;
    height: 300px;
    padding-top: 4%;
    padding-left: 3%;
}
div.achivement-detail ul li{
    padding-left: 3%;
    text-transform: capitalize;
    font-size: 1.2rem;
    line-height: 1.2rem;
}
/* ########### End Achivement Metter ############### */
/* ############### End Achivement Top ############## */
/* ############### End Achivement ################# */
/* ############### Contact ######################### */
/* ################ Contact Top ################### */
div h1.contact-name{
    color: cyan;
    font-size: 3rem;
    padding-top: 3%;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    padding-bottom: 3%;
}
div h1.contact-name span{
    color: crimson;
}
div p.contact-info{
    border: cyan solid;
    max-width: 600px;
    color: #95A5A6;
    font-size: 1.6rem;
    border-radius: 10px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
    box-shadow: inset 0 0 .3em cyan,
    0 0 .3em cyan;
}
section.contact div.contact-top{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding-bottom: 20px;
    text-align: justify; 
}
/* ################ End Contact Top ############## */
/* ################## Contact metter ############### */
div.contact-metter{
    display: grid;
    grid-template-columns: 250px 250px 250px;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    align-content: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
div.contact-metter div.mobile{
    border-radius: 10px;
    padding: 30px;
    background: #95A5A6;
    box-shadow: inset 0 0 .5rem, 0 0 2rem;
    height: 300px;
}
div.mobile-name img{
    height: 35px;
    width: 35px;
    background: cyan;
    border-radius: 50%;
    padding: 5px;
}
div.mobile-name{
    width: 200px;
    display: flex;
    justify-content: space-evenly;
    border-bottom: #000 solid;
    padding-bottom: 1.2rem;
}
div.contact-metter div.mobile ul{
    list-style: none;
    text-align: center;
    padding-top: 20%;
}
div.contact-metter div.mobile ul li a{
    text-decoration: none;
    font-size: 1.4rem;
    color: cyan;
    font-weight: 600;
}
div.contact-metter div.mobile ul li{
    line-height: 2rem;
}
div.contact-metter div.mobile h1{
    color: crimson;
    font-size: 1.8rem;
    text-transform: uppercase;
}
div.contact-metter div.mobile ul li.Canada a{
    font-size: 1.1rem;
}
div.contact-metter div.mobile ul li.Canada::after{
    content: '(Canada)';
    font-size: 1rem;
    font-weight: 600;
}
div.contact-metter div.mobile ul li.India a{
    font-size: 1.2rem;
}
div.contact-metter div.mobile ul li.India::after{
    content: '(India)';
    font-size: 1rem;
    font-weight: 600;
}
/* ############## End Contact metter ############### */
/* ############### End Contact #################### */
/* ############## Fotter ########################## */
footer div.footer div a img{
    height: 40px;
    width: 40px;
}
footer div.footer div a img:hover{
    background: cyan;
    padding: 5px;
    border-radius: 20%;
}
footer div.footer{
    display: grid;
    grid-template-columns: 60px 60px 60px 60px;
    justify-content: space-evenly;
    justify-items: center;
    align-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
div.footer p{
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: 300;
}
footer{
    background: #000;
}
footer p.right{
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    padding-top: 20px;
    padding-bottom: 2%;
}
/* ############## End Fotter ###################### */



/* ############ Mobile settings #################### */
/* ############# Start hero section ################ */
@media screen and (max-width: 1024px) {
    section div nav.menu ul li:not(:nth-child(1)){
        display: none;
    }
    section div nav.menu ul li.ddm{
        display: flex;
        padding-right: 10%;
        position: absolute;
        right: 5%;
    }
    section div nav.menu ul{
        justify-content: space-between;
    }
    section div nav.menu.drop ul{
        display: flex;
        flex-direction: column;
        height: 500px;
    }
    
    section div nav.menu.drop ul li{
        display: flex;
    }



    section.hero div.imag img{
        height: 320px;
        width: 320px;
      
    }
    section.hero{
        flex-direction: column-reverse;
        text-align: center;
        margin-top: 1rem;

    }
    section div.metter p{
     font-size: 17px;
     padding-right: 0;
     margin: 10px 15px;

}
section div.metter h1{
    font-size: 3rem;
}
section div.metter h1 span{
    font-size: 2rem;
}
section div.metter button{
       padding: .2rem 1rem;
    font-size: 1.5rem;
    margin-top: 2rem;
    border-radius: .7rem;
}
/* ############### End Heero Section ############# */
/* ############### start Skill Section ############# */
div.skil-text{
     width: 260px;
     height: 260px;
}
div.skill-topic{
    grid-template-columns: 260px;
}
div.skil-text h1{
    font-size: 1rem;    
}
div.skil-text p.skil-explanation{
    font-size: .7rem;
}
/* ############### End Skill Section ############# */
/* ############### Work History ################## */
div p.work-history-info{
    max-width: 350px;
}
div.work-history-metter{
    grid-template-columns: 260px;
    grid-template-rows: auto;
    row-gap: 5px;
    
}
div.work-history-metter div.explanation p{
    font-size: .8rem;
    height: 200px;
}
/* ############### End Work History ############### */
/* ################# Education metter ############## */
div.education-metter{
    grid-template-columns: 280px;    
}
div.education-metter div.class-detail{
   line-height: 1.8rem;
   text-align: center;
   padding-left: 4%;
   padding-right: 4%;
}
/* ############# End Education metter ############## */
/* ############# Achivement ######################## */
div.achivement-metter{
    grid-template-columns: 280px;
    
}
/* ############# EndAchivement #################### */
/* ################## Contact ##################### */
div.contact-metter{
    grid-template-columns: 250px;
    row-gap: 3rem;
}
/* ################## End Contact ################ */
}
/* ############ End Mobile settings ############### */